html{
    font-size: 62.5%;

}

*{
    margin:0;
    padding:0;
}

.main{
    display:flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding:2rem;
    
}
.rightSection{
    flex-basis: 75%;
   
}
.rightRow{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.rightRow button{
    display:inline-block;
    margin-bottom: 10rem;
}
.leftStyle{
    flex-basis: 20%;
    border-right: 1px solid rgb(28, 26, 26);
    height:97vh;
}

.studentDiv{
    /* border:1px solid rgb(94, 32, 32); */
    margin-top: -10rem;
    position:relative;
}
.studentNav{
    width:30%;
    position:absolute;
    top:6rem;
    left:-28rem;
    /* margin:2rem auto; */
    
}
.studentNav button{
    display:block;
    text-align: left;
}

.studentArticle{
    position:absolute;
    top:6rem;
    right:10rem;
    display:flex;
    width:70%;
}